<style>
#gmap {
  height: 400px;
  width: 600px;
}
</style>

</head>

<body>
  <div id="gmap"></div><!-- 地図を表示する領域 -->

  <script>
    function initMap() {
      // 地図を生成して表示
      var map = new google.maps.Map(document.getElementById("gmap"), {
        zoom: 13,
        center: new google.maps.LatLng(40.750127,-73.981084),  //Madison Av/E 38 St
        mapTypeId: "roadmap"
      });

      //DirectionsService のオブジェクトを生成
      var directionsService = new google.maps.DirectionsService();

      //DirectionsRenderer のオブジェクトを生成
      var directionsRenderer = new google.maps.DirectionsRenderer();

      //directionsRenderer と地図を紐付け
      directionsRenderer.setMap(map);

      //リクエストの出発点の位置（Empire State Building 出発地点の緯度経度）
      var start = new google.maps.LatLng(40.748541, -73.985758);
      //リクエストの終着点の位置（Grand Central Station 到着地点の緯度経度）
      var end = new google.maps.LatLng( 40.752741,-73.9772);

      // ルートを取得するリクエスト
      var request = {
        origin: start,      // 出発地点の緯度経度
        destination: end,   // 到着地点の緯度経度
        travelMode: 'WALKING' //トラベルモード（歩き）
      };

      //DirectionsService のオブジェクトのメソッド route() にリクエストを渡し、
      //コールバック関数で結果を setDirections(result) で directionsRenderer にセットして表示
      directionsService.route(request, function(result, status) {
        //ステータスがOKの場合、
        if (status === 'OK') {
          directionsRenderer.setDirections(result); //取得したルート（結果：result）をセット
        }else{
          alert("取得できませんでした：" + status);
        }
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiHipELuIh7hSMRxi92Fngg7DkJN2jf4s&callback=initMap" async defer></script>
</body>