<style>
#gmap {
  height: 800px;
  width: 1000px;
}
</style>

</head>

<body>
  <div id="gmap"></div><!-- 地図を表示する領域 -->

  <script>
    function initMap() {
      // 地図を生成して表示
      var map = new google.maps.Map(document.getElementById("gmap"), {
        zoom: 13,
        center: '筑波山山頂', // 筑波山の座標に変更
        mapTypeId: "roadmap"
      });

      //DirectionsService のオブジェクトを生成
      var directionsService = new google.maps.DirectionsService();

      //DirectionsRenderer のオブジェクトを生成
      var directionsRenderer = new google.maps.DirectionsRenderer();

      //directionsRenderer と地図を紐付け
      directionsRenderer.setMap(map);

      // 経由地の配列を生成
      var wayPoints = new Array();
      wayPoints.push({location: 'つくば駅'});
      wayPoints.push({location: '松代公園'});
      wayPoints.push({location: 'つくば牡丹園'});


      // ルートを取得するリクエスト
      var request = {
        origin: '筑波山山頂',      // 出発地点の緯度経度
        destination: 'イオンモールつくば',   // 到着地点の緯度経度
        avoidHighways: true, // 高速は利用しない
        travelMode: google.maps.TravelMode.DRIVING, // 車モード
    		optimizeWaypoints: true, // 最適化を有効
		    waypoints: wayPoints // 経由地
      };

      //DirectionsService のオブジェクトのメソッド route() にリクエストを渡し、
      //コールバック関数で結果を setDirections(result) で directionsRenderer にセットして表示
      directionsService.route(request, function(result, status) {
        //ステータスがOKの場合、
        if (status === 'OK') {
          directionsRenderer.setDirections(result); //取得したルート（結果：result）をセット
          var legs = result.routes[0].legs;

          // 総距離と総時間の合計する
          var dis = 0;
          var sec = 0;
          var count_route = 'A'.charCodeAt(0); // 'A' の文字コードを取得

          legs.forEach(function(val, i) {
            sec += val.duration.value;
            dis += val.distance.value;

            var routeLetter = String.fromCharCode(count_route) + ' - ' + String.fromCharCode(count_route + 1);
            console.log("ルート番号：" + routeLetter + ", 距離：" + val.duration.value + "km, 時間：" + val.distance.value + "時間");
            count_route++; // 文字コードを1つ増やす
            });

          // 距離をキロメートルに変換
          var distanceInKm = (dis / 1000).toFixed(1);

          // 時間を分と時間に変換
          var minutes = sec / 60;
          var hours = Math.floor(minutes / 60);
          minutes = Math.round(minutes % 60);

          console.log("距離：" + distanceInKm + "km, 時間：" + hours + "時間" + minutes + "分");
        }else{
          alert("取得できませんでした：" + status);
        }
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiHipELuIh7hSMRxi92Fngg7DkJN2jf4s&callback=initMap" async defer></script>
</body>